REVALIDATION_SECRET_TOKEN=

# Hostname of backend storing user configurations (from browser)
NEXT_PUBLIC_CONFIG_HOST=https://{backendHost}
# When running rezervo-web in Docker
# NEXT_PUBLIC_CONFIG_HOST=http://host.docker.internal:{backendPort}

# Hostname of backend storing user configurations (from Next.js API, defaults to NEXT_PUBLIC_CONFIG_HOST)
INTERNAL_CONFIG_HOST=https://{backendHost}
# When running rezervo-web in Docker
#INTERNAL_CONFIG_HOST=http://host.docker.internal:{backendPort}

# Your VAPID public key for push notifications
NEXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=

# FusionAuth
FUSIONAUTH_ISSUER=
FUSIONAUTH_CLIENT_ID=
FUSIONAUTH_CLIENT_SECRET=
FUSIONAUTH_URL=
FUSIONAUTH_TENANT_ID=

# NextAuth
NEXTAUTH_URL=https://{frontendHost}
NEXTAUTH_SECRET=
