REVALIDATION_SECRET_TOKEN=

# Hostname of this web application
APP_HOST=https://{frontendHost}

# Hostname of backend storing user configurations (from browser)
VITE_CONFIG_HOST=https://{backendHost}
# When running rezervo-web in Docker
# VITE_CONFIG_HOST=http://host.docker.internal:{backendPort}

# Hostname of backend storing user configurations (from server functions, defaults to VITE_CONFIG_HOST)
INTERNAL_CONFIG_HOST=https://{backendHost}
# When running rezervo-web in Docker
#INTERNAL_CONFIG_HOST=http://host.docker.internal:{backendPort}

# FusionAuth
FUSIONAUTH_URL=
FUSIONAUTH_CLIENT_ID=
FUSIONAUTH_CLIENT_SECRET=
FUSIONAUTH_REFRESH_TOKEN_EXPIRES_IN_SECONDS=
